<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | absolute_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper h-card">
      <div class="footer-col">
        {% include search-form.html %}
      </div>
      <div class="footer-col">
        <h3>About Me</h3>
        <p class="p-note">{{ site.description | escape }}</p>
      </div>
      <div class="footer-col">
        <p class="feed-subscribe">
          <a href="{{ 'feed.xml' | absolute_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | absolute_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p>
      {% if site.author %}
          {% if site.author.name %}
            <a class="p-name u-url" href="{{ site.author.url }}">{{ site.author.name | escape }}</a>
          {% endif %}
          {% if site.author.email %}
            <a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
          {% endif %}
          {% if site.author.photo %}
            <img class="u-photo profile-photo" src="{{ site.author.photo | absolute_url }}"/>
          {% endif %}
      {% endif %}
      </div>
    </div>

    <div class="social-links">
      {% include social.html %}
    </div>

  </div>

</footer>
