<header class="site-header">

  <div class="wrapper">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    {% assign titles_size = site.pages | map: 'title' | join: '' | size %}

    <a class="site-title" rel="author" href="{{ "/" | absolute_url }}">{{ site.title | escape }}</a>

    <div class="site-nav" id="site-nav">
        {% for item in site.data.menu.items | reverse %}
          {% if item.subfolderitems %}
            <div class="dropdown">
              <button class="dropbtn menu-item">{{ item.title }}
                <i class="fas fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                {% for entry in item.subfolderitems %}
                  <a href="{{ entry.url }}">{{ entry.page }}</a>
                {% endfor %}
              </div>
            </div>
          {% else %}
            <a class="menu-item" href="{{ item.url }}">{{ item.title }}</a>
          {% endif %}
        {% endfor %}
        <div class="dropdown menu-item" id="socials">
          <div class="dropbtn">
              <i class="fa-solid fa-user-crown" title="Social Media">&puncsp;</i><i class="fas fa-caret-down"></i>
              <span class="no-js">&nbsp;Social Media&nbsp;</span>
          <span class="dropdown-content">
            {% assign social_links = site.data.social_links | where:"show",true | where:"header",true | sort: "slug" %}
            {% for account in social_links %}
                <a id="menu-{{ account.media_name | downcase }}-{{ account.username | downcase }}" href="{{ account.url }}" title="{{ account.username }} on {{ account.media_name }}">
                  <i class="{{ account.icon }}">&nbsp;</i>{{ account.media_name }}
                </a>
            {% endfor %}
          </span>
          </div>
        </div>
        <a class="menu-item" href="{{ "/search" | absolute_url }}"><i class="fad fa-search"></i><span class="no-js"> Search</span></a>
    </div>

    <span class="site-nav-icon" onclick="showNav()"><i class="fad fa-bars"></i></span>
  </div>
</header>
