<header class="site-header">

  <div class="wrapper">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    {% assign titles_size = site.pages | map: 'title' | join: '' | size %}
    
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <div class="site-nav" id="site-nav">
        {% for item in site.data.menu.items | reverse %}
          {% if item.subfolderitems %}
            <div class="dropdown">
              <button class="dropbtn menu-item">{{ item.title }}
                <i class="fas fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                {% for entry in item.subfolderitems %}
                  <a href="{{ entry.url }}">{{ entry.page }}</a>
                {% endfor %}
              </div>
            </div>
          {% else %}
            <a class="menu-item" href="{{ item.url }}">{{ item.title }}</a>
          {% endif %}         
          </span>
        {% endfor %}
        <div class="dropdown menu-item" id="socials">
          <div class="dropbtn">&nbsp;<i class="fad fa-globe" alt="Social Media"></i><span class="">Social Media</span>&nbsp;</span>
          <span class="dropdown-content">
            {% for account in site.data.social_links %} 
                <a id="menu-{{ account[1].mediaName | downcase }}-{{ account[1].username | downcase }}" href="{{ account[1].url }}" title="{{ account[1].username }} on {{ account[1].mediaName }}">
                  <i class="fab fa-{{ account[1].icon }}">&nbsp;</i>{{ account[1].mediaName }}
                </a>
            {% endfor %}
          </div>
        </div>
    </div>
    
    <span class="site-nav-icon" onclick="showNav()"><i class="fad fa-bars"></i></span>
  </div>
</header>
