{% assign post = include.post %}
{% assign date_format = site.minima.date_format| default: "%b %-d, %Y" %}

<article class="h-entry post-summary">
  {% if post.artwork %}
    <div class="post-artwork">{% include post-artwork.html key=post.artwork %}</div>
  {% elsif post.custom_icon %}
    <div class="custom-icon">{% include post-artwork.html custom=post.custom_icon %}</div>
  {% endif %}
  <a class="post-link" href="{{ post.url | absolute_url }}"
    ><h3>{{ post.title }}</h3></a
  >
  {% include tags.html tags=post.tags %}
  <time class="post-date dt-published"
    >{{ post.date | date: "%b %-d, %Y" }}</time
  >
  <div class="p-summary entry-summary">
    {% if site.show_excerpts %}
    <div class="post-excerpt">{{ post.excerpt }}</div>
  {% endif %}
</article>
{% if include.last == false %} {% include seperator.html %} {% endif %}
