{% assign post = include.post %} {% assign date_format = site.minima.date_format
| default: "%b %-d, %Y" %}

<article class="h-entry">
  <a class="post-link" href="{{ post.url | relative_url }}"
    ><h3>{{ post.title }}</h3></a
  >
  <time class="post-date dt-published"
    >{{ post.date | date: "%b %-d, %Y" }}</time
  >
  <div class="p-summary entry-summary">
    {% if post.artwork %} {% include post-artwork.html key="nested_folders" %}
    {% endif %} {% if site.show_excerpts %} {{ post.excerpt }} {% endif %}
  </div>
</article>
{% if include.last == false %} {% include seperator.html %} {% endif %}
