{% assign social = site.minima.social_links -%}

<ul class="social-media-list">
  {% assign social_links = site.data.social_links | sort %}
  {% for account in social_links %}
    <li id="{{ account[1].mediaName | downcase }}-{{ account[1].username | downcase }}">
      <a rel="me" href="{{ account[1].url }}" title="{{ account[1].username }} on {{ account[1].mediaName }}">
        <i class="{{ account[1].icon }}"></i><span class="no-hover">&nbsp;{{ account[1].mediaName }}</span>
      </a>
    </li>
  {% endfor %}
</ul>