{% assign social = site.minima.social_links -%}

<ul class="social-media-list">
  {% assign social_links = site.data.social_links | sort %}
  {% for account in social_links %}
    <li id="{{ account.mediaName | downcase }}-{{ account.username | downcase }}">
      <a rel="me" href="{{ account.url }}" title="{{ account.username }} on {{ account.mediaName }}">
        <i class="{{ account.icon }}"></i><span class="no-js">&nbsp;{{ account.mediaName }}</span>
      </a>
    </li>
  {% endfor %}
</ul>