/**
 * Site header
 */

.site-header {
  background: $rose-purple-dark;
  color: white;
  min-height: $spacing-unit * 1.865;
  position: sticky;
  top: 0;
  width: 100%;
}

.site-title {
  @include relative-font-size(1.75);
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  font-family: $title-font-family;

  @include media-query($on-mobile) {
    padding-right: 45px;
  }
}

.site-nav {
  overflow: hidden;
  float: right;
}

.site-nav a {
  float: left;
  display: block;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none !important;
  line-height: 1.5em;
  vertical-align: center;
}

.site-nav a:visited {
  color: $rose-purple-light !important;
}

.site-nav-icon {
  display: none;
}

.menu-item {
  color: $rose-purple-light !important;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  line-height: 1.5em;
  vertical-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $rose-purple-dark;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: $rose-purple-light !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .site-nav a {
    display: none;
  }
  .site-nav .dropdown {
    display: none;
  }
  .site-nav-icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: $on-mobile) {
  .site-nav-responsive {
    position: relative;
  }

  .site-nav-responsive .site-nav-icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .site-nav-responsive a,
  .site-nav-responsive .dropdown {
    color: $rose-purple-light;
    float: none;
    display: block;
    text-align: center;
    width: 90%;
    margin: auto;
  }
  .site-nav-responsive .dropdown-content {
    position: relative;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-left: auto;
  }
  .site-nav-responsive .dropdown-content a {
    text-align: center;
  }

  .site-nav-responsive .dropdown .dropbtn {
    float: none;
  }
}

li a:hover {
  text-decoration: underline;
}

li,
.dropbtn {
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color: $rose-purple-dark;
  min-width: 160px;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  color: $rose-purple-light;
  padding: 0.5em;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content,
.dropdown:active .dropdown-content {
  display: block;
}

.nav-trigger {
  display: none !important;
}

.menu-icon {
  float: right;
  width: 36px;
  height: 26px;
  line-height: 0;
  padding-top: 10px;
  text-align: center;
}

label[for="nav-trigger"] {
  display: block;
  float: right;
  width: 36px;
  height: 36px;
  z-index: 2;
  cursor: pointer;
}

input ~ .trigger {
  clear: both;
  display: none;
}

input:checked ~ .trigger {
  display: block;
  padding-bottom: 5px;
}

input:checked {
  @media screen and (max-width: $on-mobile) {
    float: none;
    display: block;
    text-align: left;
  }
}

.page-link {
  color: $text-color;
  line-height: $base-line-height;
  display: block;
  padding: 5px 10px;

  // Gaps between nav items, but not on the last one
  &:not(:last-child) {
    margin-right: 0;
  }
  margin-left: 20px;
}

@media screen and (min-width: $on-medium) {
  position: static;
  float: right;
  border: none;
  background-color: inherit;

  label[for="nav-trigger"] {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  input ~ .trigger {
    display: block;
  }

  .page-link {
    display: inline;
    padding: 0;

    &:not(:last-child) {
      margin-right: 20px;
    }
    margin-left: auto;
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $border-color-01;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.social-links {
  @include relative-font-size(0.9375);
  color: $brand-color;
}

.footer-col {
  margin-bottom: $spacing-unit / 2;
}

.footer-col-1,
.footer-col-2 {
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: calc(45% - (#{$spacing-unit} / 2));
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col-wrapper {
    display: flex;
  }

  .footer-col {
    width: calc(100% - (#{$spacing-unit} / 2));
    padding: 0 ($spacing-unit / 2);

    &:first-child {
      padding-right: $spacing-unit / 2;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      padding-left: $spacing-unit / 2;
    }
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $brand-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

.post-tags {
  display: flex;
  margin-bottom: 0.5rem;

  .tag {
    border: 1px solid $rose-purple-light;
    border-radius: 3px;
    padding: 0.5rem;
    margin-right: 1rem;
  }
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title,
.post-content h1 {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1.15;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.625);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1,
  h2,
  h3 {
    margin-top: $spacing-unit * 2;
  }
  h4,
  h5,
  h6 {
    margin-top: $spacing-unit;
  }

  h2 {
    @include relative-font-size(1.75);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.25);
  }

  h5 {
    @include relative-font-size(1.125);
  }
  h6 {
    @include relative-font-size(1.0625);
  }
}

.social-media-list {
  display: table;
  margin: 0 auto;
  li {
    float: left;
    margin: 5px 10px 5px 0;
    &:last-of-type {
      margin-right: 0;
    }
    a {
      display: block;
      padding: $spacing-unit / 4;
      &:hover {
        border-color: $border-color-02;
      }
    }
  }
}

/**
 * Pagination navbar
 */
.pagination {
  margin-bottom: $spacing-unit;
  @extend .social-media-list;
  li {
    a,
    div {
      min-width: 41px;
      text-align: center;
      box-sizing: border-box;
    }
    div {
      display: block;
      padding: $spacing-unit / 4;
      border: 1px solid transparent;

      &.pager-edge {
        color: $border-color-01;
        border: 1px dashed;
      }
    }
  }

  li.selected {
    font-weight: bold;
  }
}

/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}
