$title-font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, serif;
$base-font-family: "Quicksand", -apple-system,
  BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji",
  "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
$base-font-weight: 600;
$code-font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono",
  "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;

$nav-bar-height: $spacing-unit * 1.865;

$rose-purple: #9D61E2;
$rose-purple-dark: #583381;
$rose-purple-light: #D9B7FF;

$dark: #282828;
$light: #ffffff;

$large-artwork: 100px;
$medium-artwork: 75px;
$small-artwork: 50px;

$brand-color: $rose-purple;
$link-base-color: $rose-purple;

:root {
  --code-background-color: #{$code-background-color};

  @media (prefers-color-scheme: dark) {
	  --code-background-color: #212121;
  }

  $code-background-color: var(--code-background-color);
}