// Placeholder to allow overriding predefined variables smoothly.
$rose-purple: #9D61E2;
$rose-purple-dark: #583381;
$rose-purple-light: #D9B7FF;

$dark: #282828 !default
$light: #ffffff !default

$large-artwork: 150px;
$medium-artwork: 100px;
$small-artwork: 50px;