---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

    <script>
      function showNav() {
        var x = document.getElementById("site-nav");
        if (x.className === "site-nav") {
          x.className = "site-nav-responsive";
        } else {
          x.className = "site-nav";
        }
      } 
    </script>
  </body>
</html>
