---
layout: default
---

<div class="home h-feed">

    <div class="artwork-display">
        <span class="artwork">
            <a href="https://relay.fm/automators">
                <img title="Automators (Podcast)" src="/assets/podcasts/automators.png" alt="Automators Podcast Artwork">
                <span class="artwork-title"><i class="fa-duotone fa-microphone-lines"></i>&nbsp; Automators</span>
            </a>
        </span>
        <span class="artwork">
            <a href="https://www.takecontrolbooks.com/shortcuts/">
                <img title="Take Control of Shortcuts (Book)" src="/assets/books/take_control_shortcuts.png"
                    alt="Take Control of Shortcuts Book Artwork">
                <span class="artwork-title"><i class="fa-duotone fa-book"></i>&nbsp; Take Control of Shortcuts</span>
            </a>
        </span>
        <span class="artwork">
            <a href="https://twit.tv/ios">
                <img title="iOS Today (Podcast)" src="/assets/podcasts/ios_today.jpg" alt="iOS Today Podcast Artwork">
                <span class="artwork-title"><i class="fa-duotone fa-microphone-lines"></i>&nbsp; iOS Today</span>
            </a>
        </span>
        <!-- <span class="artwork">
                                    <a href="https://snailedit.dev">
                                        <object data="{{ '/assets/snailedit/snail.svg' | relative_url }}" style="width: 50px; height: 20px"
                                            type="image/svg+xml"></object>
                                    </a>
                                </span> -->
        <span class="artwork">
            <a href="https://pushcut.io">
                <img title="Pushcut App" src="/assets/snailedit/pushcut.png" alt="Pushcut App">
                <span class="artwork-title"><i class="fa-duotone fa-mobile"></i>&nbsp; Pushcut</span>
            </a>
        </span>
        <span class="artwork">
            <a href="https://whenworks.app">
                <img title="WhenWorks App" src="/assets/snailedit/whenworks.png" alt="WhenWorks App">
                <span class="artwork-title"><i class="fa-duotone fa-desktop"></i>&nbsp; WhenWorks</span>
            </a>
        </span>
        <span class="artwork">
            <a href="https://focuscuts.com/">
                <img title="FocusCuts App" src="/assets/snailedit/focuscuts.png" alt="FocusCuts App">
                <span class="artwork-title"><i class="fa-duotone fa-mobile"></i>&nbsp; FocusCuts</span>
            </a>
        </span>
    </div>
    <h1>{{ page.title }}</h1>
    {% if paginator.page == 1 %}
        {{ content | markdownify }}
    {% endif %}

    <div class="post-list">
      
        {% for post in paginator.posts %}
          {% include post_excerpt.html post=post
          last=forloop.last %}
        {% endfor %}
    </div>
    
    {% if paginator.total_pages > 1 %}
    <div class="pager">
    <ul class="pagination">
        {% if paginator.first_page %}
        <li class="previous">
            <a href="{{ paginator.first_page_path | absolute_url }}">&#8606; First</a>
        </li>
        {% endif %}
  
        {% if paginator.previous_page %}
        <li class="previous">
            <a href="{{ paginator.previous_page_path | absolute_url }}">&larr; Previous Page</a>
        </li>
        {% endif %}
  
        {% if paginator.page_trail %}
          {% for trail in paginator.page_trail %}
            <li {% if page.url == trail.path %}class="selected"{% endif %}>
                <a href="{{ trail.path | absolute_url }}" title="{{trail.title}}">{{ trail.num }}</a>
            </li>
          {% endfor %}
        {% endif %}
  
        {% if paginator.next_page %}
        <li class="next">
            <a href="{{ paginator.next_page_path | absolute_url }}">Next Page &rarr;</a>
        </li>
        {% endif %}
  
         {% if paginator.last_page %}
        <li class="previous">
            <a href="{{ paginator.last_page_path | absolute_url }}">Last &#8608;</a>
        </li>
        {% endif %}
    </ul>
    </div>
    {% endif %}
    {% if paginator.page != 1 %}
        {{ content | markdownify }}
    {% endif %}



</div>