---
layout: default
---

<div class="home h-feed">
    
    <h1>{{ page.title }}</h1>

    {% if paginator.page == 1 %}
        {{ content | markdownify }}
    {% endif %}

    <div class="post-list">
      
        {% for post in paginator.posts %}
          {% include post_excerpt.html post=post
          last=forloop.last %}
        {% endfor %}
    </div>
    
    {% if paginator.total_pages > 1 %}
    <div class="pager">
    <ul class="pagination">
        {% if paginator.first_page %}
        <li class="previous">
            <a href="{{ paginator.first_page_path | prepend: site.baseurl | replace: '//', '/' }}">&#8606; First</a>
        </li>
        {% endif %}
  
        {% if paginator.previous_page %}
        <li class="previous">
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Previous Page</a>
        </li>
        {% endif %}
  
        {% if paginator.page_trail %}
          {% for trail in paginator.page_trail %}
            <li {% if page.url == trail.path %}class="selected"{% endif %}>
                <a href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' }}" title="{{trail.title}}">{{ trail.num }}</a>
            </li>
          {% endfor %}
        {% endif %}
  
        {% if paginator.next_page %}
        <li class="next">
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next Page &rarr;</a>
        </li>
        {% endif %}
  
         {% if paginator.last_page %}
        <li class="previous">
            <a href="{{ paginator.last_page_path | prepend: site.baseurl | replace: '//', '/' }}">Last &#8608;</a>
        </li>
        {% endif %}
    </ul>
    </div>
    {% endif %}
    {% if paginator.page != 1 %}
        {{ content | markdownify }}
    {% endif %}



</div>